# Server-only — used by API route handlers to proxy to backend
API_URL=http://localhost:3001

# Client-side — Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=106839033762-44g9g2u8gl25h4r3d3k21m786h1p9c8i.apps.googleusercontent.com
